.topnav {
    width: 100%;
    height: 35px;
    background-color: #f9f9f9;
}

.topnav-left ul li {
    float: left;
    position: relative;
    height: 35px;
    padding: 0 13px;
    box-sizing: border-box;
    line-height: 35px;
}

.topnav-left ul li:nth-last-child(-n+6)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 13px;
    width: 1px;
    height: 10px;
    background-color: #717171;
}

.topnav-left ul li:last-child::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0px;
    height: 0px;
}

.topnav-version,
.topnav-right {
    float: left;
    line-height: 35px;
    position: relative;
}


.topnav-version .phone {
    /* position: absolute;
    left: 10px;
    top: 0; */
    background-image: url(../image/图层\ 12.png);
    background-position: 0px 2px;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-right: 5px;
}