body {
    width: 100%;
    height: 100%;
}

.topnav {
    width: 100%;
    height: 40px;
    background-color: #333333;
}

.topnav-left {
    float: left;
}

.topnav-left a,
.topnav-right a {
    float: left;
    color: #b0b0b0;
    line-height: 40px;
}

.topnav-left i,
.topnav-right i {
    float: left;
    color: #3c423f;
    margin: 0 8px;
    line-height: 40px;
}

.topnav-right {
    float: right;
}

.topnav-left a:hover,
.topnav-right a:hover {
    color: #ffffff;
}

.topnav-right .cart {
    margin-left: 25px;
    width: 120px;
    height: 40px;
    background-color: #424242;
    text-align: center;
}

.topnav-right .cart:hover {
    background-color: #ffffff;
    color: #ff6700;
}

.topnav-left .app-img {
    height: 130px;
    width: 100%;
}

.topnav-left .app img {
    width: 90px;
    height: 90px;
}

.search {
    width: 100%;
    height: 100px;
}

.search-left a {
    float: left;
    width: 55px;
    height: 55px;
    background-image: url(../img/mi-logo.png);
    background-color: #ff6700;
    background-position: center;
    margin: calc((100px - 55px) / 2) 0;
}

.search-left a:hover {
    background-image: url(../img/mi-home.png);
    background-color: #ff6700;
    background-position: center;
    z-index: 999;
}

.search-center {
    margin: calc((100px - 17.6px) / 2) 0;
    float: left;
    margin-left: 190px;
}

.search-center a {
    float: left;
    font-size: 16px;
    color: #333333;
    padding: 0 10px;
}

.search-center a:hover {
    color: #ff6700;
}

.search-right {
    float: right;
    position: relative;
    width: 296px;
    height: 50px;
    background: #ffffff;
    margin: calc((100px - 50px) / 2);
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
}

.search-right input {
    border: none;
    width: 230px;
    height: 48px;
    margin-left: 9px;
}

.search-right button {
    float: right;
    width: 50px;
    height: 49px;
    border: none;
    background-color: #ffffff;
    border-left: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.search-right-hot {
    position: absolute;
    right: 60px;
    top: 16px;
}

.search-right-hot a {
    background-color: #eeeeee;
    margin-right: 10px;
    padding: 0 10px;
    color: #757575;
    transition: all .2s;
}

.search-right-hot a:hover {
    background-color: #ff6700;
    color: #ffffef;
}


/* 轮播图 */
.chart {
    width: 100%;
    height: 460px;
}

.chart-img ul li a img {
    height: 460px;
}

.chart-right {
    position: absolute;
    left: 0;
    top: 0;
    width: 234px;
    height: 460px;
    background-color: rgba(0, 0, 0, 0.3);
}

.chart-right a {
    display: block;
    height: 42px;
    width: 100%;
    color: #ffffff;
    /* background-color: red; */
    /* border: 1px solid black; */
    line-height: 42px;
    padding-left: 15px;
    padding-right: 24px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 500px;
}

.chart-right a:hover {
    background-color: #ff6700;
}

.chart-right i {
    float: right;
}

.chart-right a:first-child {
    margin-top: 20px;
}

.chart-right .active {
    width: 10px;
    height: 10px;
    border: 2px solid gray;
}

.discount {
    margin-top: 14px;
    margin-bottom: 26px;
    width: 100%;
    height: 170px;
}

.discount-server {
    float: left;
    height: 170px;
    width: 234px;
    background-color: #5f5750;
}

.discount-server a {
    position: relative;
    float: left;
    left: 0;
    width: 76px;
    height: 82px;
    text-align: center;
    opacity: 0.5;
    transition: all .2s;
}

.discount-server a:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 9px;
    width: 64px;
    height: 1px;
    background-color: #665e57;
}

.discount-server a:hover {
    opacity: 1;
}

.discount-server a::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 3px;
    width: 1px;
    height: 70px;
    background-color: #665e57;
}

.discount-server img {
    width: 22px;
    height: 22px;
    margin-top: 22px;
}

.discount-server a span {
    display: block;
    color: #ffffff;
}

.discount {
    margin-top: 14px;
    margin-bottom: 26px;
}

.discount-product {
    float: left;
    width: 316px;
    height: 170px;
    margin-left: 15px;
}

.discount-product:nth-child(2) {
    margin-left: 14px;
}

.discount-product img {
    width: 100%;
    height: 100%;
}

.flash {
    background-color: #f5f5f5;
}

.flash-tatle {
    width: 100%;
    height: 62px;
}

.flash-tatle-button {
    margin-top: 28px;
}

.flash-tatle span {
    font-size: 21px;
    line-height: 62px;
}

.flash-tatle-button {
    float: right;
    width: 71px;
    height: 24px;
    border: 1px solid #e0e0e0;
}

.flash-tatle-button a:last-child {
    float: right;
}

.flash-tatle-button a i {
    line-height: 24px;
    margin-left: 12px;
}

.flash-tatle-button a:last-child i {
    margin-right: 12px;
}

.flash-tatle-button a:last-child {
    border-left: 1px solid #e0e0e0;
}

.flash-content-kill {
    float: left;
    width: 234px;
    height: 340px;
    background-color: #f1eded;
    border-top: 1px solid #e53935;
    text-align: center;
    box-sizing: border-box;
}

.flash-content-kill h2 {
    font-size: 20px;
    font-weight: normal;
    color: #ef3a3b;
    margin-top: 60px;
    margin-bottom: 30px;
}

.flash-content-kill p {
    font-size: 13px;
    margin-top: 35px;
    margin-bottom: 33px;
    color: #6f6d6d;
}

.flash-content-kill-num span {
    padding: 12px 10px;
    font-size: 17px;
    font-weight: 600;
    color: #f5fcff;
    background-color: #605751;
}

.flash-content-kill-num small {
    font-weight: 600;
    margin: 0 5px;
}

.flash-content-show {
    float: right;
    width: calc(1226px - 234px);
    height: 340px;
}

.flash-content-show-product {
    position: relative;
    float: left;
    width: 234px;
    height: 340px;
    margin-left: 14px;
    background-color: #ffffff;
    text-align: center;
    border-top: 1px solid #83c44e;
}

.flash-content-show-product:nth-child(2) {
    border-top: 1px solid #2196f3;
}

.flash-content-show-product:nth-child(3) {
    border-top: 1px solid #e53935;
}

.flash-content-show-product:nth-child(4) {
    border-top: 1px solid #00c0c5;
}

.flash-content-show-product img {
    margin-top: 30px;
}

.flash-content-show-product h3 {
    font-size: 14px;
    font-weight: normal;
    color: #222222;
    margin-bottom: 11px;
}

.flash-content-show-product span {
    display: block;
    font-size: 12px;
    color: #adadad;
    margin-bottom: 20px;
}

.flash-content-show-product strong {
    color: #fa6c14;
}

.flash-content-show-product s {
    text-decoration: line-through;
    color: #adadad;
}

.flash-content-show-product a:nth-child(2) a:after {
    content: "5元";
    position: absolute;
    left: 0;
    top: 0;
    width: 64px;
    height: 20px;
    background-color: #e13834;
    line-height: 20px;
    color: #ffffff;
}

.flash-bottom {
    width: 100%;
    height: 120px;
    float: left;
    margin: 22px 0;
}

.flash-bottom img {
    width: 100%;
    height: 120px;
}

.phone {
    background-color: #f5f5f5;
}

.phone-title {
    height: calc(80px - 22px);
}

.phone-title span {
    float: left;
    line-height: 58px;
    font-size: 21px;
}

.phone-all {
    height: 100%;
    width: 87px;
    float: right;
    color: #424242;
}

.phone-all a {
    line-height: 58px;
    transition: all 1s;
    font-size: 16px;
}

.phone-all i {
    width: 20px;
    height: 20px;
    color: #ffffff;
    border: 1px solid #b0b0b0;
    background-color: #b0b0b0;
    border-radius: 50%;
    transition: all 1s;
}

.phone-all .more-link:hover {
    color: #ff6700;
}

.phone-all .more-link:hover i {
    width: 20px;
    height: 20px;
    background-color: #ff6700;
    border: 1px solid #ff6700;
}

.phone-left {
    height: 628px;
    width: 234px;
    float: left;
}

.phone-left img {
    width: 100%;
    height: 614px;
    transition: all .2s;
}

.phone-left a:hover img {
    margin-top: -1px;
    z-index: 2;
    /* background-color: teal; */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.phone-right {
    width: calc(1226px - 234px);
    height: 628px;
    float: right;
}

.phone-right a {
    width: 234px;
    height: 300px;
    float: left;
    margin-left: 14px;
    margin-bottom: 14px;
    background-color: #ffffff;
    text-align: center;
    transition: all .5s;
}

.phone-right a img {
    width: 150px;
    height: 150px;
    margin-top: 30px;
}

.phone-right a h3 {
    font-size: 14px;
    font-weight: normal;
    margin-top: 10px;
}

.phone-right a p {
    font-size: 12px;
    color: #b0b0b0;
    margin-top: 5px;
    margin-bottom: 18px;
}

.phone-right a span {
    font-size: 12px;
    color: #ff6700;
}

.phone-right a s {
    font-size: 12px;
    color: #b0b0b0;
    text-decoration: line-through;
}

.phone-right a:hover {
    margin-top: -1px;
    z-index: 2;
    /* background-color: teal; */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.phone-guanggao img {
    widows: 1226px;
    height: 120px;
    float: left;
    margin: 22px 0;
}

.wiring {
    background-color: #f5f5f5;
}

.wiring-title {
    width: 100%;
    height: 58px;
}

.wiring-title-left {
    float: left;
}

.wiring-title-left span {
    font-size: 20px;
    font-weight: normal;
    line-height: 58px;
}

.wiring-title-right {
    float: right;
}

.wiring-title-right a {
    font-size: 16px;
    line-height: 58px;
    transition: all .3s;
}

.wiring-title-right a:last-child {
    margin-left: 30px;
}

.wiring-title-right a:hover {
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}

.wiring-advert {
    float: left;
    width: 234px;
    height: 628px;
}

.wiring-advert-top,
.wiring-advert-bottom {
    float: left;
}

.wiring-advert-top img,
.wiring-advert-bottom img {
    width: 234px;
    height: 300px;
    transition: all .2s;
}

.wiring-advert-top,
.wiring-advert-bottom {
    width: 234px;
    height: 300px;
    transition: all .2s;
}

.wiring-advert-top {
    margin-bottom: 14px;
}

.wiring-ware {
    width: calc(1226px - 234px);
    height: 628px;
    float: left;
}

.wiring-ware a {
    float: left;
    width: 234px;
    height: 300px;
    margin-left: 14px;
    margin-bottom: 14px;
    background-color: #ffffff;
    text-align: center;
    transition: all .2s;
}

.wiring-ware a img {
    width: 150px;
    height: 150px;
    margin-top: 30px;

}

.wiring-ware a h3 {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    margin-bottom: 5px;
}

.wiring-ware a p {
    font-size: 12px;
    color: #b0b0b0;
    margin-bottom: 15px;
}

.wiring-ware a span {
    color: #ff6700;
    font-size: 14px;
}

.wiring-ware a s {
    color: #b0b0b0;
    font-size: 14px;
    text-decoration: line-through;
    margin-left: 5px;
}


.wiring-ware a:nth-last-child(-n+2) {
    width: 234px;
    height: 143px;
}

.wiring-ware a:nth-child(8) h3 {
    margin-top: 45px;
    margin-bottom: 15px;
}

.wiring-ware a:nth-child(8) img {
    width: 82px;
    height: 82px;
    float: right;
    margin-top: 30px;
    margin-right: 18px;
}

.wiring-more .wiring-more-font {
    width: 94px;
    height: 44px;
    padding-top: 50px;
    float: left;
    margin-left: 30px;
    text-align: left;
}

.wiring-more .wiring-more-font h3 {
    font-size: 18px;
    color: #333;
    font-weight: 500;
}

.wiring-more .wiring-more-font span {
    font-size: 12px;
    color: #b0b0b0;
}

.wiring-more i {
    font-size: 48px;
    color: #ff6700;
    line-height: 135px;
}

.wiring-advert-bottom-02 img {
    width: 100%;
    height: 120px;
    margin: 22px 0;
}

.wiring-advert a:hover,
.wiring-ware a:hover {
    margin-top: -1px;
    z-index: 2;
    /* background-color: teal; */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}



/*  */
/*  */
/*  */

.noopsyche {
    background-color: #f5f5f5;
}

.noopsyche-title {
    width: 100%;
    height: 58px;
}

.noopsyche-title-left {
    float: left;
}

.noopsyche-title-left span {
    font-size: 20px;
    font-weight: normal;
    line-height: 58px;
}

.noopsyche-title-right {
    float: right;
}

.noopsyche-title-right a {
    font-size: 16px;
    line-height: 58px;
    transition: all .3s;
}

.noopsyche-title-right a {
    margin-left: 30px;
}

.noopsyche-title-right a:hover {
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}

.noopsyche-advert {
    float: left;
    width: 234px;
    height: 628px;
}

.noopsyche-advert-top,
.noopsyche-advert-bottom {
    float: left;
}

.noopsyche-advert-top img,
.noopsyche-advert-bottom img {
    width: 234px;
    height: 300px;
    transition: all .2s;
}

.noopsyche-advert-top,
.noopsyche-advert-bottom {
    width: 234px;
    height: 300px;
    transition: all .2s;
}

.noopsyche-advert-top {
    margin-bottom: 14px;
}

.noopsyche-ware {
    width: calc(1226px - 234px);
    height: 628px;
    float: left;
}

.noopsyche-ware a {
    float: left;
    width: 234px;
    height: 300px;
    margin-left: 14px;
    margin-bottom: 14px;
    background-color: #ffffff;
    text-align: center;
    transition: all .2s;
}

.noopsyche-ware a img {
    width: 150px;
    height: 150px;
    margin-top: 30px;

}

.noopsyche-ware a h3 {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    margin-bottom: 5px;
}

.noopsyche-ware a p {
    font-size: 12px;
    color: #b0b0b0;
    margin-bottom: 15px;
}

.noopsyche-ware a span {
    color: #ff6700;
    font-size: 14px;
}

.noopsyche-ware a s {
    color: #b0b0b0;
    font-size: 14px;
    text-decoration: line-through;
    margin-left: 5px;
}


.noopsyche-ware a:nth-last-child(-n+2) {
    width: 234px;
    height: 143px;
}

.noopsyche-ware a:nth-child(8) h3 {
    margin-top: 45px;
    margin-bottom: 15px;
}

.noopsyche-ware a:nth-child(8) img {
    width: 82px;
    height: 82px;
    float: right;
    margin-top: 30px;
    margin-right: 18px;
}

.noopsyche-more .noopsyche-more-font {
    width: 94px;
    height: 44px;
    padding-top: 50px;
    float: left;
    margin-left: 30px;
    text-align: left;
}

.noopsyche-more .noopsyche-more-font h3 {
    font-size: 18px;
    color: #333;
    font-weight: 500;
}

.noopsyche-more .noopsyche-more-font span {
    font-size: 12px;
    color: #b0b0b0;
}

.noopsyche-more i {
    font-size: 48px;
    color: #ff6700;
    line-height: 135px;
}

.noopsyche-advert-bottom-02 img {
    width: 100%;
    height: 120px;
    margin: 22px 0;
}

.noopsyche-advert a:hover,
.noopsyche-ware a:hover {
    margin-top: -1px;
    z-index: 2;
    /* background-color: teal; */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}